.SocialCard {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  box-sizing: border-box;
  padding: 9px 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 590px;
}