.SocialCard {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  box-sizing: border-box;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  padding: 9px 12px;
  width: 590px;
}